.project {
    background-color: #f9faff;
}

.project_heading {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: #25282B; 
}

.under-line{
    margin-bottom: 40px;
    color:"yellow";
    background-color: 'yellow';
    width: 150px;
    height: 24px;
    border-radius: 2px;
    margin-left: 500px;

}

.project_items {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;  
}


.line-through{
    width:120px
}